/*
    Pilko teksto spalva
    #666;

    Bloko viršutinio border ir h1 spalva:
    #0974b3

*/

body {
    font-family: 'News Cycle', sans-serif;
    font-size: 16px;
    padding: 20px;
    color: #666;
    background-color: #F5F5F5;
}
.border {
    max-width: 890px;
    height: 5px;
    background-color: #0974b3;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
h1 {
    font-size: 2em;
    margin-bottom: 0;
    text-align: left;
    color: #0974b3;
}
article:nth-of-type(1) {
    background-color: #FFFFFF;
    max-width: 850px;
    padding: 20px;
    padding-bottom: 80px;
}
.quote {
    margin-top: 1em;
    display: block;
}
p {
    padding: 20px;
    padding-top: 0;
    line-height: 120%;
}
a {
    line-height: 300%;
    color: #58348A;
}
img {
    width: 150px;
    object-fit: contain;
    float: left;
    display: flex;
    clear: both;
    padding-right: 20px;
    padding-bottom: 20px;
}
.column {
    float: left;
    background-color: #FFFFFF;
    max-width: 385px;
    padding: 20px;
    margin: 40px;
    margin-left: 0;
    margin-top: 40px;
    overflow: hidden;
}
/* article:nth-of-type(2) {
    background-color: #FFFFFF;
    border-top: 3px #0974b3;
    max-width: 400px;
    padding: 20px;
    margin-top: 40px;
}
article:nth-of-type(3) {
    background-color: #FFFFFF;
    border-top: 3px #0974b3;
    max-width: 400px;
    padding: 20px;
    margin-top: 40px;
    float: left;
} */

/* section:nth-last-of-type(odd) img {
    float: left;
    margin: 0;
    margin-right: 20px;
}

p:nth-of-type(1) {
    text-align: justify;
    padding: 20px;
}
.clear {
    clear: both;
}

section {
    overflow: hidden;
    margin-bottom: 20px;
} */